﻿@{
    ViewData["Title"] = "Employee";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-center">Employees</h3>
    </div>
    <div div class="card-body">
        <div id="grid" class="mt-2" style="max-height:700px !important">

        </div>
    </div>
</div>

@section scripts{
    <script>
        //var BASE_COLUMNS = [
        //    {
        //        dataField: "SerialNo",
        //        caption: "SerialNo",
        //        headerCellTemplate: function (header, info) {
        //            $('<div>')
        //                .html(info.column.caption)
        //                .appendTo(header);
        //        }
        //    },
        //    {
        //        dataField: "SerialName",
        //        caption: "SerialName",
        //        headerCellTemplate: function (header, info) {
        //            $('<div>')
        //                .html(info.column.caption)
        //                .appendTo(header);
        //        },
        //    },
        //    {
        //        dataField: "GroupID",
        //        caption: "Group",
        //        headerCellTemplate: function (header, info) {
        //            $('<div>')
        //                .html(info.column.caption)
        //                .appendTo(header);
        //        },
        //        lookup: {
        //            dataSource: SeriesGroupsDataSource,
        //            displayExpr: "Name",
        //            valueExpr: "ID"
        //        }
        //    },
        //    {
        //        dataField: "SeriesType",
        //        caption: "SeriesType",
        //        headerCellTemplate: function (header, info) {
        //            $('<div>')
        //                .html(info.column.caption)
        //                .appendTo(header);
        //        },
        //        lookup: {
        //            dataSource: SeriesTypesDataSource,
        //            displayExpr: "Name",
        //            valueExpr: "ID"
        //        }
        //    },
        //];
        var grid = $('#grid').dxDataGrid({}).dxDataGrid('instance');
        grid.option('dataSource', {
            store: DevExpress.data.AspNet.createStore(
                {
                    "key": "EmpId",
                    "loadUrl": "/Home/GetEmployees",
                    "insertUrl": "/Home/AddEmployee",
                    "updateUrl": "/Home/UpdateEmployee",
                    "deleteUrl": "/Home/RemoveEmployee"
                })
        });
        grid.option('editing', {
            allowAdding: true,
            allowDeleting: true,
            allowUpdating: true,
            confirmDelete: true,
            mode: "row",
            useIcons: true
        });
        //grid.option('columns', BASE_COLUMNS);

        grid.option('pager', {
            allowedPageSizes: [20, 40, 60, 80, 100],
            infoText: "Page {0} of {1} ({2})",
            showInfo: true,
            showNavigationButtons: true,
            showPageSizeSelector: true,
            visible: "auto"
        });
        grid.option('paging', {
            enabled: true,
            pageIndex: 0,
            pageSize: 20
        });
        grid.option('export.enabled', true);
    </script>
}
